
body
{
	font-family: 'Open Sans',Arial, Helvetica, sans-serif;
	margin:0;
	padding:0;
}

header {
	min-width: 840px;
	min-height: 74px;
	display : flex;
	-webkit-align-items : center;
	align-items: center;
	background:#333333;
}

header a:first-child {
	margin: 10px 30px;
}

header a:first-child img{
	height: 75px;
}

header div span {
	color : #FFFFFF;
	font-family : 'Open Sans',Verdana, Arial, sans-serif;
}

header div span:first-child{
	font-size : x-large;
}

header div span:last-child{
	font-size : large;
}

header a:nth-child(3)
{
	display : inline-block;
	width : 63px;
	text-align: right;
	margin-left : auto;
	background-color:#cecab6;

}

header a:nth-child(3) span
{
	position:relative;
	top:-5px;
}

table {
	margin-right: 12px;
}


table,td,th {
	border : 1px solid midnightblue;
	border-collapse: collapse;
}

tbody {
	display: table-row-group;
	vertical-align: middle;
}

td {
	text-align: left;
}

td:nth-child(1), td:nth-child(2) {
	text-align: right;
	padding-right: 3px;
}

th {
	padding: 2px 2px 2px 2px;
	background-color:  #f7eecf;
	border-bottom-width: 2px;
}

th:last-child, td:last-child {
	border-right-width: 2px;
}

ul {
	padding-left: 24px;
	padding-left: 24px;
}


h1 {
	font-size: x-large;
	font-weight: bold;
	color : #034f93;
	margin-top: 5px;

}

#list {
		display : inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

#list  li {
		position : relative;
    display : inline-block;
}

#list li > a {
    display: inline-block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}


#list li a {
	-webkit-transition: background-color 0.25s;
	transition: background-color 0.25s;
}



#list li a:hover {
    background-color: #207BDC;

}

.dropdown-content {
	display: none;
  position: absolute;
	-webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	background-color: #f9f9f9;
	min-width: 160px;
	padding : 14px auto;
	-webkit-transition: display 0.25s;
	transition: display 0.25s;
	z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display : block;

}


#separator {
	height : 10px;
	background-color: #FFFFFF;
	-webkit-box-shadow: inset 0px 0px 1px #000000;

}


#mainInformation {
	display : block;
	border-top: chocolate 1px solid;
	margin-top : 20px;
	margin-left: 25px;
	margin-bottom: 200px;
	font-size : medium;
	color: midnightblue;
	position : absolute;
	z-index: 0;
}


#menu {
	margin-top : 20px;
}


.nav
{
	display : flex;
	align-items:center;
	vertical-align : middle;
	background-color: #3E638A;
	-webkit-box-shadow: inset 0px 0px 2px #000000;
}



.underline {
	background-color : #FFEEAA;
	margin-right: 25px;
}

.title {
	background-color:  #a9c0d3;
	pointer-events: none;
  cursor: default;
}

.indent {
	margin-left: 14px;
}


.printLink  {

	display: inline-block;
	margin-left: auto;
	margin-right: 20px;
	width : 36px;
	height: 36px;
	background : url(print.png) center center no-repeat;

}

.emphase {
	font-weight: bold;
}

.centered-cell {
	text-align: center;
}

.special-row {
	background-color: #bbbbbb;
}
